/* You can add global styles to this file, and also import other style files */
:root {
    --BrightBlue: hsl(220, 98%, 61%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  
  
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlueHover: hsl(236, 33%, 92%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlueB: hsl(237, 14%, 26%);
  }
  
  body {
      font-family: 'Josefin sans', sans-serif;
      margin: 0;
      height: 100vh;
      width: 100vw;
      background-color: var(--VeryDarkBlue);
    }
    
    .btn-wrapper {
      /* flexbox */
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  
    input {
      font-family: inherit;
      outline: none;
    }
    
    .bg-light {
      background: var(--VeryLightGray);
    }